[Unit]
Description=upc-box-ips
After=network.target

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory=/home/pi/upc-box-ips
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
